* {
    box-sizing: border-box;
    max-width: 100%;
}

.landing-section {
    position: relative;
    height: 90vh;
}

.landing-background {
    max-width: 2000px;
    max-height: 100%;
    height: auto;
    width: 100%;
    margin: auto;
    display: block;
}

.landing-text {
    position: absolute;
    top: 40%;
    bottom: 40%;
    width: 100%;
    max-width: 100%;
}

.start-button {
    width: 200px;
    margin: 10px;
}

/* Card Selection Section 
Might need to readjust viewheights to fit sticky navbar
*/

/*Text above cards*/

.header-text-positioning {
    padding-top: 100px;
    padding-bottom: 50px
}

.section-header-h2 {
    color: #211E40;
    align-content: space-around;
    text-align: center;
    padding-top: 10px;
}

.section-header-h5 {
    color: #211E40;
    text-align: center;
    padding-top: 5px;
}

/* Card Deck */

.card-deck-section {
    background-color: white;
    min-height: 85vh;
}

.card-deck {
    justify-content: center;
}

.card-styles {
    min-height: 500px;
    max-width: 275px;
    padding: 0px;
}

.deck-icons {
    text-align: center;
    color: #378DF4;
    width: 100%;
    padding: 10px;
}

.card-title {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    color: #201E40;
}

.check-icon {
    color: #00DD87;
    padding-right: 10px;
}

.check-text {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
}

.card-body-text {
    text-align: center;
    min-height: 75px;
}

.button-styles {
    margin-top: 40px;
    padding: 7px;
}

.btn-primary {
    background-color: #1B1464;
    border-color: #1B1464;
}

.btn-primary:hover {
    box-shadow: 1.5px 1.5px 10px #aaaaaa;
}

/* @media screen and (min-height: 1000px) {
    .card-deck-section {
        height: 100vh;
} */

/* Why Voyage Section*/

.stats-section {
    height: 100vh;
    background-color: #F8FAFA;
}

.stats-asterik-text {
    padding-top: 30px;
}

/* .sign-pic {
    width: 80%;
    height: 50vh;
} */

.stat-bars {
    display: inline;
}

/* Online Reviews Section
Yelp, Zillow, Etc*/

.agency-section {
    background-color: #F8FAFA;
    height: 75vh;
}

.agency-title {
    padding: 10px;
    text-align: center;
    font-weight: 500;
    color: #201E40;
}

.agency-text {
    width: 220px;
    text-align: center;
    margin: auto;
}

.testimonials-section {
    height: 90vh;
    background-color: white;
}

.testimonials-img {
    padding: 40px;
    align-items: center;
}

.review-section {
    background-color: F8FAFA;
    height: 175vh;
}

.review-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.review-header-text {
    font-size: x-large;
    font-weight: 500;
    color: #201E40;
}

.review-para-text {
    color: #201E40;
}

.review-text-positioning {
    padding: 75px;
}

.review-tradeup-img {
    justify-content: center;
}

.review-button {
    padding-top: 50px;
    margin: auto;
}

.footer-section {
    background-color: #1B1464FA;
    height: 50vh;
    margin: auto;
}

.footer-row-spacing {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
}

.footer-header {
    color: white;
    margin: auto;
}

.ul-styling {
    padding-inline-start: 0px;
    list-style-type: none;
}

.EHO-icon {
    margin: auto;
    height: 75px;
    width: 72px;
    left: 50%;
    right: 50%;
}
.footer-icons{
    color: white;
}


/* Media Queries 
Phone Size
*/

@media screen and (max-width: 1000px) {
    .body {
        overflow-x: hidden;
    }
    /* View Break */
    .landing-section {
        position: relative;
        height: 40vh;
    }
    .landing-text {
        position: absolute;
        top: 1%;
        bottom: 40%;
        width: 100%;
        max-width: 100%;
    }
    /* View Break */
    .card-styles {
        min-width: 420px;
    }
    .card-deck-section {
        min-height: 310vh;
    }
    .card-title {
        font-size: 25px;
    }
    .check-icon {
        color: #00DD87;
        padding-right: 20px;
    }
    .check-text {
        text-align: left;
        font-weight: 500;
        font-size: 18px;
    }
    /* View Break */
    .stats-section {
        height: 120vh;
        background-color: #F8FAFA;
    }
    /* View Break */
    .agency-section {
        background-color: #F8FAFA;
        height: 200vh;
    }
    .agency-col {
        min-width: 420px;
    }
    .agency-title {
        padding: 10px;
        text-align: center;
        font-weight: 500;
        color: #201E40;
    }
    .agency-text {
        width: 220px;
        text-align: center;
        margin: auto;
        padding-bottom: 50px;
    }
    /* View Break */
    .review-section {
        background-color: F8FAFA;
        height: 375vh;
    }
    .review-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .review-header-text {
        font-size: x-large;
        font-weight: 500;
        color: #201E40;
    }
    .review-para-text {
        color: #201E40;
    }
    .review-text-positioning {
        padding: 75px;
    }
    .review-tradeup-img {
        justify-content: center;
    }
    .review-button {
        padding-top: 50px;
        margin: auto;
    }
    /* View Break */
    .footer-section {
        background-color: #1B1464FA;
        height: 100vh;
        margin: auto;
    }
    .footer-row-spacing {
        padding-top: 15px;
        padding-bottom: 15px;
        margin: auto;
    }
    .footer-header {
        color: white;
        margin: auto;
    }
    .EHO-icon {
        margin: auto;
        height: 75px;
        width: 72px;
        left: 50%;
        right: 50%;
    }
}

/* Media Queries 
iPad/Small Laptop Size
*/

@media screen and (max-width: 1200px) {
    .body {
        overflow-x: hidden;
    }
    /* View Break */
    .card-deck-section {
        min-height: 130vh;
    }
    .stats-section {
        height: 125vh;
        background-color: #F8FAFA;
    }
    .agency-section {
        background-color: #F8FAFA;
        height: 100vh;
    }
    .review-section {
        background-color: F8FAFA;
        height: 250vh;
    }
    .footer-section {
        background-color: #1B1464FA;
        height: 50vh;
        margin: auto;
    }
    .ul-styling {
        padding-inline-start: 0px;
        list-style-type: none;
    }
}